In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
df

,houseld,length,lengthUnit,width,widthUnit,isCarport,price,notes
0,1,20,meter,10,meter,1,IDR 5 Billion,TRAINING DATA
1,2,40,meter,20,meter,0,IDR 18 Billion,TRAINING DATA
2,3,3000,centimeter,2000,centimeter,1,IDR 13 Billion,TRAINING DATA
3,4,1000,centimeter,3000,centimeter,0,IDR 6 Billion,TRAINING DATA
4,5,20,meter,50,meter,1,IDR 21 Billion,TRAINING DATA
5,6,50,meter,10,meter,0,IDR 11 Billion,TEST DATA
6,7,20,meter,20,meter,1,IDR 8 Billion,TEST DATA

In [4]:
# Convert length and width to meters
def convert_to_meters(value, unit):
    if unit == 'centimeter':
        return value / 100
    return value

df['length_m'] = df.apply(lambda row: convert_to_meters(row['length'], row['lengthUnit']), axis=1)
df['width_m'] = df.apply(lambda row: convert_to_meters(row['width'], row['widthUnit']), axis=1)

In [8]:
# Calculate the area in square meters
df['area_sqm'] = df['length_m'] * df['width_m']
df

,houseld,length,lengthUnit,width,widthUnit,isCarport,price,notes,length_m,width_m,area_sqm
0,1,20,meter,10,meter,1,IDR 5 Billion,TRAINING DATA,20.0,10.0,200.0
1,2,40,meter,20,meter,0,IDR 18 Billion,TRAINING DATA,40.0,20.0,800.0
2,3,3000,centimeter,2000,centimeter,1,IDR 13 Billion,TRAINING DATA,30.0,20.0,600.0
3,4,1000,centimeter,3000,centimeter,0,IDR 6 Billion,TRAINING DATA,10.0,30.0,300.0
4,5,20,meter,50,meter,1,IDR 21 Billion,TRAINING DATA,20.0,50.0,1000.0
5,6,50,meter,10,meter,0,IDR 11 Billion,TEST DATA,50.0,10.0,500.0
6,7,20,meter,20,meter,1,IDR 8 Billion,TEST DATA,20.0,20.0,400.0

In [10]:
# Convert price to numeric
df['price_numeric'] = df['price'].str.replace('IDR ', '').str.replace(' Billion', '').astype(float)
df

,houseld,length,lengthUnit,width,widthUnit,isCarport,price,notes,length_m,width_m,area_sqm,price_numeric
0,1,20,meter,10,meter,1,IDR 5 Billion,TRAINING DATA,20.0,10.0,200.0,5.0
1,2,40,meter,20,meter,0,IDR 18 Billion,TRAINING DATA,40.0,20.0,800.0,18.0
2,3,3000,centimeter,2000,centimeter,1,IDR 13 Billion,TRAINING DATA,30.0,20.0,600.0,13.0
3,4,1000,centimeter,3000,centimeter,0,IDR 6 Billion,TRAINING DATA,10.0,30.0,300.0,6.0
4,5,20,meter,50,meter,1,IDR 21 Billion,TRAINING DATA,20.0,50.0,1000.0,21.0
5,6,50,meter,10,meter,0,IDR 11 Billion,TEST DATA,50.0,10.0,500.0,11.0
6,7,20,meter,20,meter,1,IDR 8 Billion,TEST DATA,20.0,20.0,400.0,8.0

In [12]:
# Check for missing values
missing_values = df.isnull().sum()

# Summary statistics
summary_stats = df.describe()

In [16]:
summary_stats, missing_values, df.head()

(        houseld       length        width  isCarport   length_m    width_m  \
 count  7.000000     7.000000     7.000000   7.000000   7.000000   7.000000
 mean   4.000000   592.857143   730.000000   0.571429  27.142857  22.857143
 std    2.160247  1121.378828  1243.194809   0.534522  13.801311  13.801311
 min    1.000000    20.000000    10.000000   0.000000  10.000000  10.000000
 25%    2.500000    20.000000    15.000000   0.000000  20.000000  15.000000
 50%    4.000000    40.000000    20.000000   1.000000  20.000000  20.000000
 75%    5.500000   525.000000  1025.000000   1.000000  35.000000  25.000000
 max    7.000000  3000.000000  3000.000000   1.000000  50.000000  50.000000

           area_sqm  price_numeric
 count     7.000000       7.000000
 mean    542.857143      11.714286
 std     281.999662       6.047432
 min     200.000000       5.000000
 25%     350.000000       7.000000
 50%     500.000000      11.000000
 75%     700.000000      15.500000
 max    1000.000000      21.000000  ,
 houseld          0
 length           0
 lengthUnit       0
 width            0
 widthUnit        0
 isCarport        0
 price            0
 notes            0
 length_m         0
 width_m          0
 area_sqm         0
 price_numeric    0
 dtype: int64,
    houseld  length  lengthUnit  width   widthUnit  isCarport           price  \
 0        1      20       meter     10       meter          1   IDR 5 Billion
 1        2      40       meter     20       meter          0  IDR 18 Billion
 2        3    3000  centimeter   2000  centimeter          1  IDR 13 Billion
 3        4    1000  centimeter   3000  centimeter          0   IDR 6 Billion
 4        5      20       meter     50       meter          1  IDR 21 Billion

            notes  length_m  width_m  area_sqm  price_numeric
 0  TRAINING DATA      20.0     10.0     200.0            5.0
 1  TRAINING DATA      40.0     20.0     800.0           18.0
 2  TRAINING DATA      30.0     20.0     600.0           13.0
 3  TRAINING DATA      10.0     30.0     300.0            6.0
 4  TRAINING DATA      20.0     50.0    1000.0           21.0  )

In [1]:
import numpy as np
import pandas as pd

# Load and preprocess the dataset
file_path = 'data.csv'
data = pd.read_csv(file_path)

# Convert length and width to meters
def convert_to_meters(value, unit):
    if unit == 'centimeter':
        return value / 100
    return value

data['length_m'] = data.apply(lambda row: convert_to_meters(row['length'], row['lengthUnit']), axis=1)
data['width_m'] = data.apply(lambda row: convert_to_meters(row['width'], row['widthUnit']), axis=1)
data['area_sqm'] = data['length_m'] * data['width_m']
data['price_numeric'] = data['price'].str.replace('IDR ', '').str.replace(' Billion', '').astype(float)

# Select features and target variable
X = data[['area_sqm', 'isCarport']].values
y = data['price_numeric'].values

# Feature scaling
X_mean = X.mean(axis=0)
X_std = X.std(axis=0)
X_scaled = (X - X_mean) / X_std

# Add intercept term to features
X_scaled = np.c_[np.ones(X_scaled.shape[0]), X_scaled]

# Initialize parameters
beta = np.zeros(X_scaled.shape[1])

# Define learning rate and number of iterations
alpha = 0.01
iterations = 1000

# Gradient Descent
for _ in range(iterations):
    predictions = X_scaled @ beta
    errors = predictions - y
    gradient = X_scaled.T @ errors / len(y)
    beta -= alpha * gradient

# Coefficients
beta_0, beta_1, beta_2 = beta

# Predict function
def predict(area, is_carport):
    area_scaled = (area - X_mean[0]) / X_std[0]
    return beta_0 + beta_1 * area_scaled + beta_2 * is_carport

# Evaluate the model
predictions = X_scaled @ beta
mae = np.mean(np.abs(predictions - y))
mse = np.mean((predictions - y) ** 2)
r2 = 1 - (np.sum((predictions - y) ** 2) / np.sum((y - np.mean(y)) ** 2))

# Display results
print(f"Intercept (beta_0): {beta_0}")
print(f"Coefficient for area (beta_1): {beta_1}")
print(f"Coefficient for carport (beta_2): {beta_2}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2): {r2}")

Intercept (beta_0): 11.713779993958907
Coefficient for area (beta_1): 5.5773835583745806
Coefficient for carport (beta_2): -0.1348807278372306
Mean Absolute Error (MAE): 0.4546116656640344
Mean Squared Error (MSE): 0.26623409277353927
R-squared (R2): 0.9915068551133441

In [2]:
import numpy as np
import pandas as pd

# Load the validation dataset
validation_file_path = 'validation_data.csv'
validation_data = pd.read_csv(validation_file_path)

# Preprocess the validation dataset similarly to the training dataset
validation_data['length_m'] = validation_data.apply(lambda row: convert_to_meters(row['length'], row['lengthUnit']), axis=1)
validation_data['width_m'] = validation_data.apply(lambda row: convert_to_meters(row['width'], row['widthUnit']), axis=1)
validation_data['area_sqm'] = validation_data['length_m'] * validation_data['width_m']
validation_data['price_numeric'] = validation_data['price'].str.replace('IDR ', '').str.replace(' Billion', '').astype(float)

# Select features and target variable from the validation dataset
X_val = validation_data[['area_sqm', 'isCarport']].values
y_val = validation_data['price_numeric'].values

# Feature scaling on validation data
X_val_scaled = (X_val - X_mean) / X_std
X_val_scaled = np.c_[np.ones(X_val_scaled.shape[0]), X_val_scaled]

# Predict using the trained model
y_val_pred = X_val_scaled @ beta

# Evaluate the model on the validation dataset
mae_val = np.mean(np.abs(y_val_pred - y_val))
mse_val = np.mean((y_val_pred - y_val) ** 2)
rmse_val = np.sqrt(mse_val)
r2_val = 1 - (np.sum((y_val_pred - y_val) ** 2) / np.sum((y_val - np.mean(y_val)) ** 2))

print(f"Mean Absolute Error (MAE): {mae_val}")
print(f"Mean Squared Error (MSE): {mse_val}")
print(f"Root Mean Squared Error (RMSE): {rmse_val}")
print(f"R-squared (R²): {r2_val}")

Mean Absolute Error (MAE): 4.424144785549848
Mean Squared Error (MSE): 28.575082149390862
Root Mean Squared Error (RMSE): 5.345566588247766
R-squared (R²): -9.715655806021573